@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

:root {
    --main-font: 'Space Grotesk';
    --greenColor: #4EE1A0;
    --grayColor: #D9D9D9;
}

/* From Uiverse.io by mrhyddenn */
.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 445px;
    max-width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #4EE1A0;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    font-family: Space Grotesk;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.22px;

}

.form__field::placeholder {
    color: white;
    opacity:50%; 
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
    color: white;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: white;
    pointer-events: none;
    font-family: Space Grotesk;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.22px;

}





